@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/lexend-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/lexend-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/lexend-600.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/lexend-deca-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/lexend-deca-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/lexend-deca-600.ttf) format('truetype');
}
